<ul>
    <% @events.each do |event| %>
        <li>
            <strong><%= event.name %></strong>
            in <%= event.location %>:
            <%= number_to_currency(event.price) %>
        </li>
        <p>
            <%= event.description %>
        </p>
        <p>
            <%= event.starts_at %>
        </p>
    <% end %>
</ul>